html,body{
    background: #fff !important;
}
#findPwd,#setting{
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.findPwd_header{
    width: 100%;
    text-align: center;
}
.findPwd_header p{
    font-size: 0.3rem;
    padding: 0.4rem 0 0.1rem 0;
}
.mint-cell-wrapper{
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0) 50%, transparent 50%);
    background-image: linear-gradient(180deg, rgba(0,0,0,0), rgba(0,0,0,0) 50%, transparent 50%);
    background-size: 120% 0px !important;
    padding-left: 0.2rem
}
.findPwd_body{
    width: 80%;
    margin-left: 10%;
    margin-bottom: -0.3rem;
}
.mint-button--primary {
    color: #fff;
    background-color: #26a2ff;
    padding: 0;
    width: 80%;
    margin-left: 10%;
    height: 0.6rem;
    /*border-radius: 0.35rem;*/
    border-radius: 0px;
    font-size: 0.25rem;
    box-shadow: 0 0 10px #ccc;
}
.setting_header{
    width: 100%;
    min-height: 0.6rem;
    background-color: #fff;
    text-align: center;
    padding-bottom: 0.1rem;
    border-bottom: 0.2rem solid #F0F0F0;
}
.setting_header p{
    font-size: 0.3rem;
    padding: 0.4rem 0 0 0;
}
.setting_body{
    width: 80%;
    margin-left: 10%;
    margin-bottom: -0.5rem;
}
.setting_header a{
    font-size: 0.3rem;
    color: #26a2ff;
}
.setting_appList{
    font-size: 0.3rem;
    padding: 0.25rem;
}
.appList{
    min-height: 0.8rem;
}
.appList_name{
    width: 40%;
    float: left;
    text-align: left;
}
.appList_icon{
    float: right;
    width: 20%;
    text-align: right;
    color: #26a2ff;
}
.appList_line{
    min-height: 0.8rem;
    line-height: 0.8rem
}
.appList_id{
    width: 15%;
    font-size: 0.25rem;
    float: left;
    text-align: center;
    padding-top: 0.1rem;
}
.appList_id p{
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background-color: #26a2ff;
    text-align: center;
    line-height: 0.6rem;
    color: #fff;
}
.appList_agent{
    width: 30%;
    font-size: 0.3rem;
    float: left;

}
.appList_secret{
    width: 40%;
    margin-left: 2.5%;
    font-size: 0.3rem;
    float: left;

}
.appList_delete{
    width: 10%;
    font-size: 0.3rem;
    float: right;
    text-align: right;
    padding-top: 0.2rem;
}
.appList_delete p{
    width: 0.4rem;
    height: 0.4rem;
    font-size: 0.2rem;
    float: right;
    border-radius: 50%;
    background-color: #E34242;
    color: #fff;
    line-height: 0.4rem;
    text-align: center;
}

.login_logo{
    padding-top: 1rem;
    margin-left: 10%;
    margin-bottom: 0.5rem;
    min-height: 1.5rem;
    width: 80%;
}
.login_logo img{
    width: 1.2rem;
    height: auto;
    float: left;
}
.login_input{
    width: 80%;
    margin-left: 10%;
    /*height: 0.8rem;*/
    margin-top: 0.1rem;
}
.border_bottom_line{
    border-bottom: 1px solid #999;
}
.login_input p{
    font-size: 0.35rem;
    height: 0.8rem;
    float: left;
    line-height: 0.8rem;
    color: #20A0FF;
}
.login_input input{
    letter-spacing: 3px;
}

.is-nolabel{
    height: 0.8rem;
    line-height: 0.8rem;
}
.login_input .mint-button--primary{
    width: 100%;
    margin-left: 0;
}
.lost_pasword{
    width: 100%;
    text-align: center;
    margin-top: -0.1rem;
}
a{
    color: #20A0FF;
}

.lost_pasword a{
    font-size: 0.25rem
}

#login{
    width: 100%;
    height: 100%;
    background: #fff;
    /*background-image: url("../images/login_bgimg.jpg");
    background-size: 100% 100%;*/
}
.msg_show{
    font-size: 0.28rem;
}
.verify_code{
    font-size: 12px;
    padding: 5px;
    margin: 5px;
    width: 41%;
    /*display: initial;*/
}
.phone_pre{
    font-size: 0.26rem;
    height: 0.8rem;
    float: left;
    line-height: 0.8rem;
    color: #7a7575;
    margin-left: 0.2rem;
    letter-spacing: 3px;
}
.bind_notice{
    margin-top: 0.2rem;
    font-size: .2rem;
    font-weight: bold;
    color: #757575;
}